.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    user-select: none;
    width: 100%;
    padding: var(--large);

    @media (--media-m) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.title {
    margin: 0 0 var(--large);

    @media (--media-m) {
        margin: 0;
    }
}

.button {
    background-color: var(--black);
    color: var(--clouds);
    padding: var(--medium) var(--large);
    border-radius: var(--x-small);
    font-family: 'Lucida Console', Monaco, monospace;
    transition: box-shadow 0.25s;
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
        outline: 0;
        box-shadow: 0 0 var(--x-large) var(--grey);
    }

    @media (--media-m) {
        width: auto;
    }
}
