.ball {
    position: absolute;
    border-radius: 50%;
    width: var(--small);
    height: var(--small);
}

.yellow {
    background-color: var(--yellow);
}

.orange {
    background-color: var(--orange);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.violet {
    background-color: var(--violet);
}
